* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-25def7: #25def7;
  --color-0C1135: #0C1135;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: #0C1135;
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.button:hover {
  background-color: #25def7;
  color: var(--color-131921);
}

/*Header Part*/

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: #0c1135
}

.header-upper {
  background-color: #094D9F;
}

.header-bottom {
  background-color: #0c74b1;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-upper .input-group-text {
  background-color: #25def7;
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom .dropdown button {
  contain: url("../public/images/menu.svg");
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate(0, 57px, 0) !important;
  -webkit-transform: translate(0, 57px, 0) !important;
  -moz-transform: translate(0, 57px, 0) !important;
  -ms-transform: translate(0, 57px, 0) !important;
  -o-transform: translate(0, 57px, 0) !important;
}

.header-bottom .dropdown-item {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: #25def7 !important;
}

#hamburger{
  display: none;
}
/*Header Part End Here*/

/*Footer Part*/
footer {
  background-color: #094D9F;
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

/*Footer Part End Here*/


/*Home Page*/
.main-banner-content {
  top: 10%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;

}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

/*Home wrapper 2*/
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);

}

/*Home wrapper 2 ends*/


/*categories section*/

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories>div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories>div>div {
  width: 60%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-bottom: 1px solid var(--color-ededed);
}

/*categories section ends here*/
/*Home Page End*/

/*Blog Part*/
.blog-card {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}

.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}

.single-blog-card a {
  font-size: 18px;
  color: var(--color-777777);
  margin-bottom: 20px;
}

.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.single-blog-card p {
  color: var(--color-777777);
  font-size: 14px;
}

/*Blog Part Ends here*/

/*Product Card*/
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card .product-image {
  height: 270px;
}

.product-card .product-image img {
  object-fit: contain;

}

.product-card .product-image>img:last-child {
  display: none;


}

.product-card:hover .product-image>img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image>img:last-child {
  display: block;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.product-card p.description {
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;

}

/*Product Card Ends Here*/


/*Special Product*/
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;

}



/*Special Produc ends here*/


/*famous card*/
.famous-card .famous-content {
  top: 10%;
  left: 5%;
}

.famous-card img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.famous-content h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: white;

}

.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}


/*famous card ends here*/


/*Our Store*/
.filter-card {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: #25def7;
  border-color: #25def7;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 49%;
}

.gr-4 {
  width: 32%;
}

.gr-3 {
  width: 24%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}

.gr-6 .product-image {
  width: 100%;
}

.gr-6 .product-image img {
  margin: auto;
  display: block;
}

.gr-12 .product-card .product-image {
  width: 270px;
}

.gr-12 .product-card .product-image {
  height: auto;
}

.gr-12 .action-bar {
  top: 17%;
}

/*Our Store ends here*/

/* Contact Page */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper>div {
  width: 48%;
}

.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;

}

.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

/* Contact Page ends*/

/*Compare Product Page*/
.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*Compare Product Page 
termina aqui*/

/*auth card*/
.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}

.auth-card p {
  font-size: 13px;
  color: var(--color-777777);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

.signup {
  background-color: #25def7;
  color: var(--color-131921);
  border: none;
}

.signup:hover {
  background-color: var(--color-131921);
  color: white;
}

/*auth card termina aqui*/


/*Policy Pages*/
.policy {
  background-color: white;
  padding: 30px;
}

/*Policy Pages fin*/


/*Main Product Page*/
.description-wrapper h4, 
.reviews-wrapper h3 {
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777)
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 14px;
  color: var(--color-777777)
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25)
}

.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}

.other-product-images {
  background-color: white;
  padding: 20px;
}

.other-product-images > div {
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0)
}

.main-product-image .js-image-zoom__zoomed-image {
  left: 50px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index:1000;
}

.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}

.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-product-details a.review.btn, .t-review {
  color: var(--color-777777);
  font-size: 13px
}

.product-heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}

.product-data {
  font-size: 13px;
  columns: var(--color-777777);
  margin-bottom: 0px;
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777)
}
/*Main Product Page*/

/* Cart Page */

.cart-header, 
.cart-data{
  border-bottom: 1px solid #eaeaea;
}

.cart-header h4 {
  font-size: 13px;
  color: var(--color-777777);
}

.cart-col-1 {
  width: 40%;
}

.cart-col-1 p {
  color: var(--color-777777);
  font-size: 14px;
}

.cart-col-2 {
  width: 10%;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}

.cart-data h5.price {
  font-size: 14px;
  color: var(--color-1c1c1b);
}

/* Cart Page Ends here*/

/* Shipping Page  */

.total{
  font-size: 14px;
  color: var(--color-1c1c1b);
}

.total-price {
  font-size: 16px;
  color: var(--color-777777);
}
/* Shipping page ends here */

.logo {
  width:50px;
  height:50px;
  position: relative;
  top:45px;
  right: 25px;
  background-color: #25def7;
  border-radius: 10%;
  border: solid 1px #FFFFFF;
}

.store {
  position: relative;
  left: 40px;
  top: -10px;
}

#prueba1 {
  width: 16em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #094D9F;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

#prueba1::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
  transform-origin: center;
}

#prueba1::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
}

#prueba1:hover::before, #prueba1:hover::after {
  transform: scale(0)
}

#prueba1:hover {
  box-shadow: inset 0px 0px 25px #25def7;
}

/* .checkbtn {
  font-size: 30px;
  color: #FFFFFF;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
} */

/* RESPONSIVE */

@media (max-width: 575.98px) { 
  #root{
    height: 100vh;
  }
  
  .featured-wrapper{
    position: relative;
    top:-180px;
  }

  .header-top-strip {
    width: 100%;
  }

  .text-end {
    margin-right: 20px;
  }

  .header-upper {
    width: 100%;
  }

  #buscador {
    width: 60%;
    position: relative;
    left: 15%;
  }

  #menu {
    display: none;
  }

  .logo{
    margin-left: 55%;
    margin-top: -70px;
  }

  .store {
    margin-top: 25%;
    margin-left: -25%;
    text-align: center;
    width: 150px;

  }

  .header-bottom {
    width: 100%;
  }

  /* .checkbtn {
    display: block;
  } */

  .home-wrapper-1 {
    width: 100%;
  }

  #img-home-1 {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    margin-top: -25px;
  }

  #img-home-2 {
    width: 100%;
    padding: 0;
    margin-bottom: -25px;
    margin-top: -25px;
  }

  .home-wrapper-2 {
    width: 100%;
  }

  #barra {
    height: 80px;
    gap:10px;
    
  }

  #barra2 {
    position: relative;
    top:-120px;

  }

  #barra2 img {
    width: 50%;
  }


  .item1 {
    width:45%;
  }

  .categories {
    width:100%;
  }

  #hamburger{
    display: block;
  }

  #barra-home{
    display: none;
  }


  .product-card .product-image {
    height: 100px !important;
  }

  /* #barra3{
    height: 500px;
    border: solid red;
    position: relative;
    top:-260px;
    display:grid;
    grid-template-columns: 50% 50%;
  grid-template-rows: 100px 100px; 
  column-gap: 10px;
  row-gap: 15px;

  } */

  /* .famous-img{
    width: 250px;
  } */
  #barra3{
    position: relative;
    top: -260px;
  }

  .famous-content h6{
    font-size: 12px;
  }

  p .text-dark{
    display:none;
  }

  .photo{
    position: relative;
    top: 100px;
  }

  .photo1 p,
  .photo1 h6{
    position: relative;
    top: 100px;
    color: black !important;
  }

  .special-wrapper{
    position: relative;
    top: -170px;
  }

  .popular-wrapper{
    position: relative;
    top: -250px;
  }

  .marque-wrapper{
    position: relative;
    top: -325px;
  }

  .filter-card{
    width: 180px;
  }

  .filter-sort-grid{
    display: none;
  }
  #OurStore-Responsive{
    margin-left: 60px;
  }

  #Agrega-Cart{
    position: relative;
    left: -220px;
    top: 380px;
    gap: 17px;
  }
  .other-product-images{
    display: none !important;
  }
}


@media (max-width: 767.98px) { 

}


@media (max-width: 991.98px) { 

}


@media (max-width: 1199.98px) {
  header-upper-links{
    /* margin-left: -20px; */
    position: relative;
    right: 50px;
  }

  .input-group input{
    width: 200px;
  }

  .logo{
    position: relative;
    left: -5px;
    
  }

  .store{
    position: relative;
    left: 50px;
  }

}


@media (max-width: 1399.98px) {
  .logo{
    position: relative;
    left: 10px;
  }
.store{
  position: relative;
  left: 80px;
}
}